{{fa-icon icon class=(concat 'duty-icon ' icontype) size='2x' }}
<div class='duty-row-group'>
    <div class='duty-row-type'>{{type}}</div>
    <div class='duty-row-subtype'>{{subtype}}</div>
</div>
{{#if showNames}}
    <div class='duty-row-names'>{{names}}</div>
{{/if}}
