<button 
  class="selection-item" 
  {{on "tap" @itemclick}}
  {{on "longpress" this.pressIfAvailable}}
  ...attributes
>
  {{fa-icon @icon}}
  <div class="selection-item-text">{{@text}}</div>
</button>
