{{#each sourceData as |occasion|}}
    {{sub-header title=(moment-format occasion.when 'MMMM DD, YYYY HH:mm')}}
    {{#each occasion.roles as |role|}}
        {{#role-summarizer occasion=occasion role=role as |duty|}}
            <div class="duty-row-wrapper">
                {{duty-row duty=duty clicked=(action clicked role occasion attendance) held=(action held role occasion attendance) }}
                    {{#if (eq overlay.role role.id) }}
                    {{duty-overlay title=overlay.title icon=overlay.icon icontype=overlay.icontype submit=(action submit role) close=(action cancel) }}
                {{/if}}
            </div>
        {{/role-summarizer}}    
    {{/each}}
{{/each}}
