{{duties-header title='Roster' iconclick=(action clickReturn) }}
{{search-bar searchtext=searchtext winnow=(action incrementalSearch)}}
<div class='body-frame roster'>
{{#each candidates as |participant| }}
    {{roster-row model=participant selection=(action clickReturn) }}
{{/each}}
</div>
{{#selection-bar}}
    {{selection-item 
    text='Back' 
    icon='users' 
    itemclick=(action clickReturn)}}
{{/selection-bar}}
