{{back-header 
    title='Roster' 
    backtext='< Duties' 
    backclick=(action clickReturn) }}
{{search-bar searchtext=searchtext winnow=(action incrementalSearch)}}
<div class='body-frame'>
{{#each candidates as |participant| }}
    {{roster-row model=participant selection=(action clickReturn) }}
{{/each}}
</div>
