{{back-header 
    title='Roster' 
    backtext='< Duties' 
    backclick=(action clickReturn) }}
{{search-bar winnow=(action incrementalSearch)}}
<div class='body-frame'>
    <p> Imagine a list of people here...</p>
</div>
{