/* Overall layout */
.supertitle {
    text-align: center;
    opacity: .85;
    color: rgb(31, 31, 127);
}
.header {
    display: flex;
    background: #ffffff;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    opacity: .85;
    color: rgb(31, 31, 127);
}
.header-title {
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    flex: 1 0 auto;
}
.header-right-icon {
    height: 28px;
    line-height: 28px;
    flex: 0 0 auto;
}
.body-frame {
    height: 640px;
    overflow: scroll;
}
.selection-bar {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px;
    border-top-style: solid;
    border-top-width: 2px;
    color: rgb(31, 31, 127);
    opacity: .85;
}
.selection-item {
    display: inline-block;
    flex: 1 1 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.selection-item-text {
    font-size: 13px;
}

/* Duties Layout */

.sub-header {
    font-size: 16px;
    padding: 10px;
    background: #eeeeee;
    border-bottom-style: solid;
    border-bottom-color: #888888;
    border-bottom-width: 2px;
}

.duty-row {
    padding: 5px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
    border-bottom-width: 1px;
}
.duty-row.historical {
    background: #cccccc;
    opacity:0.5;
}
.duty-icon.needy {
    color: red;
}
.duty-icon.satisfied {
    color: cornflowerblue;
}
.duty-icon.confirmed {
    color: green;
}
.duty-icon.unconfirmed {
    color: orange;
}
.duty-row-group { 
    display: inline-block;
    width: 120px;
}
.duty-row-type {
    font-size: 18px;
}
.duty-row-subtype {
    font-size: 13px;
}
.duty-row-names {
    display: inline-block;
}

/* Roster Layout */

.body-frame.roster {
    height: 605px;
}
.roster-row {
    padding: 5px;
}
.roster-row:nth-child(even) {
    background: #dddddd;
}
.roster-row-left, .roster-row-right {
    display: inline-block;
}
.roster-row-left {
    width: 150px;
}
.roster-row-right {
    width: 200px;
}
.roster-search {
    height: 24px;
    padding: 4px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
.roster-search-input {
    width: 200px;
    height: 18px;
}
.roster-search-clear{
    font-size: 16px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}