/* Overall layout */
body {
    display: flex;
    flex-direction: column;
}
.supertitle {
    text-align: center;
    opacity: .85;
    height: 30px;
    margin: 0px;
    color: rgb(31, 31, 127);
}
.header-row {
    flex: 0 0 auto;
    display: flex;
    background: #ffffff;
    padding: 10px;
    height: 28px;
    margin: 0px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    opacity: .85;
    color: rgb(31, 31, 127);
}
.header-title {
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    flex: 1 0 auto;
    margin: 0;
}
.header-right-icon {
    height:30px;
    flex: 0 0 auto;
    padding: 2px;
    border: none;
    color: inherit;
    background-color: inherit;
    font-size: 24px;
    font-weight: 700;
}
.page-frame {
    flex: 1 1 auto;
    overflow: scroll;
}
.selection-bar {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 10px;
    height: 48px;
    border-top-style: solid;
    border-top-width: 2px;
    color: rgb(31, 31, 127);
    opacity: .85;
}
.selection-item {
    display: inline-block;
    flex: 1 1 auto;
    padding: 0 15px 0 15px;
    border: none;
    color: inherit;
    background-color: inherit;
    font-size: 28px;
    font-weight: 700;
}
.selection-item-text {
    font-size: 13px;
    text-align: center;
}
.any-user .selection-item-text {
    padding-right: 10px;
}

/* Duties Layout */

.sub-header {
    font-size: 16px;
    padding: 10px;
    background: #eeeeee;
    border-bottom-style: solid;
    border-bottom-color: #888888;
    border-bottom-width: 2px;
}

.duty-row {
    padding: 5px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
    border-bottom-width: 1px;
    position: relative;
    display: flex;
    text-align: inherit;
    color: inherit;
    font: inherit;
    width: 100%;
}
.duty-row.historical {
    background: #cccccc;
    opacity:0.5;
}
.duty-icon {
    margin-right: 10px;
}
.duty-icon.needy {
    color: red;
}
.duty-icon.satisfied {
    color: cornflowerblue;
}
.duty-icon.confirmed {
    color: green;
}
.duty-icon.unconfirmed {
    color: orange;
}
.duty-icon.cancel {
    color: gray;
}
.duty-row-group { 
    flex: 0 0 auto;
    width: 120px;
}
.duty-row-type {
    font-size: 18px;
}
.duty-row-subtype {
    font-size: 13px;
}
.duty-row-names {
    flex: 1 1 auto;
    height: 30px;
}
.duty-row-wrapper {
    position: relative;
}
.duty-overlay {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 1;
}
.duty-overlay-item {
    flex: 0 0 auto;
    /*background-color: lightgray;*/
    font-size: 16px;
    min-height: 45px;
}

/* Roster Layout */

.roster-row {
    padding: 5px;
    text-align: inherit;
    color: inherit;
    font: inherit;
    display: block;
    width: 100%;
}
.roster-row:nth-child(even) {
    background: #dddddd;
}
.roster-row.alternate {
    opacity:.5;
}
.roster-row.historical {
    text-decoration: line-through;
}
.roster-row-left, .roster-row-right {
    display: inline-block;
}
.roster-row-left {
    width: 120px;
}
.roster-row-right {
    width: 200px;
}
.search-bar {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    height: 24px;
    padding: 4px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
.search-bar label {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}
.roster-search-input {
    flex: 1 1 auto;
    height: 18px;
    margin-left: 10px;
    margin-right: 10px;
}
.roster-search-clear{
    font-size: 16px;
    flex: 0 0 auto;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
