<button 
  class="selection-item" 
  type="button"
  {{on "tap" @itemclick}}
  {{on "longpress" @itempress}}
  ...attributes
>
  <FaIcon @icon={{@icon}} />
  <div class="selection-item-text">{{@text}}</div>
</button>
